<a href="https://colab.research.google.com/github/YusunPark/BigData/blob/main/%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_2%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 작업 1유형

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [18]:
# 성별이 Male인 환자들의 age의 평균값은 ?

data[data['gender'] == 'Male']['age'].str.replace('*', '').astype('int').mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

44.68623481781376

In [20]:
# bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

data['bmi'].fillna(data['bmi'].median()).mean().round(3)

29.166

In [22]:
# bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

data['bmi'].fillna(method='ffill').mean().round(3)

29.188

In [46]:
# bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

## 평균값을 먼저 구하기
data2 = data.copy()
data2['age'] = data2['age'].str.replace('*', '').astype('int')
data2['new_age'] = data2['age']//10 * 10
value_list = pd.DataFrame(data2.groupby(by=['new_age'])['bmi'].mean())
value_list
# data.isnull().sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

               bmi
new_age
0        18.960784
10       24.477228
20       28.052747
30       31.751111
40       31.427097
50       31.894086
60       31.615873
70       30.447727
80       28.566667

In [3]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [47]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

x = x_train.drop(columns = ['ID'])

test_drop = test.drop(columns = ['ID'])



sc = StandardScaler()
sc.fit(x)


xs = sc.transform(x)
x_test_scaler = sc.transform(test_drop)

X_train, X_test, y_train, y_test = train_test_split(xs, y_train['pose'], test_size=0.33, random_state=42)

lr = LogisticRegression()
lr.fit(X_train,y_train)

pred = lr.predict_proba(X_test)
print('validation_auc : ',roc_auc_score(y_test,pred[:,1]))



# # 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# # pd.DataFrame({'id': test.id, 'stroke': pred}).to_csv('003000000.csv', index=False)
pd.DataFrame({'id': test.ID, 'pose': lr.predict_proba(x_test_scaler)[:,1]}).to_csv('003000000.csv', index=False)

validation_auc :  0.5633199559973924

In [58]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

x = x_train.drop(columns = ['ID'])

test_drop = test.drop(columns = ['ID'])



sc = StandardScaler()
sc.fit(x)


xs = sc.transform(x)
x_test_scaler = sc.transform(test_drop)

X_train, X_test, y_train, y_test = train_test_split(xs, y_train['pose'], test_size=0.3, random_state=42)

lr = LogisticRegression()
lr.fit(X_train,y_train)

pred = lr.predict_proba(X_test)
print('validation_auc : ',roc_auc_score(y_test,pred[:,1]))

lr = XGBClassifier()
lr.fit(X_train,y_train)

pred = lr.predict_proba(X_test)
print('validation_auc : ',roc_auc_score(y_test,pred[:,1]))

lr = RandomForestClassifier()
lr.fit(X_train,y_train)

pred = lr.predict_proba(X_test)
print('validation_auc : ',roc_auc_score(y_test,pred[:,1]))



# # 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# # pd.DataFrame({'id': test.id, 'stroke': pred}).to_csv('003000000.csv', index=False)
pd.DataFrame({'id': test.ID, 'pose': lr.predict_proba(x_test_scaler)[:,1]}).to_csv('003000000.csv', index=False)

validation_auc :  0.559534283294551
validation_auc :  0.9999814996012136
validation_auc :  0.99993216520445