<a href="https://colab.research.google.com/github/YusunPark/BigData/blob/main/%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_1%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

## 작업 1유형

### Q. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는?
  * 0~9 : 0 
  * 10~19 : 10

In [53]:
data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [54]:
data1 = data['age'].copy()
data1 = data1//10 * 10
data1 = pd.DataFrame(data1)
data1.value_counts()
print(30)

30

### Q. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [55]:
result = (data['age']//10 *10).value_counts().values[0]

print(result)

5056

### 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [56]:
result = len(data[(data['age'] >= 25) & (data['age'] <29) & (data['housing'] == 'yes')])

print(result)

504

### Q. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [57]:
data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [58]:
list_ = data.select_dtypes(include=object).columns
max = 0
col = ''

for x in list_:
  if max < len(data[x].unique()):
    max = len(data[x].unique())
    col = x

print(col)

job

### Q. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [60]:
data[data['balance'] >= data['balance'].mean()].sort_values(by='ID', ascending=False).head(100)['balance'].mean()

3473.73

### Q. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [67]:
data.groupby(['month', 'day']).count()['ID'].sort_values()

month  day
jun    7        1
dec    27       1
       16       1
mar    29       1
sep    5        1
             ...
nov    21     221
may    7      239
       13     257
       14     283
       15     301
Name: ID, Length: 303, dtype: int64

In [68]:
data[['day', 'month']].value_counts()

day  month
15   may      301
14   may      283
13   may      257
7    may      239
21   nov      221
             ...
4    oct        1
30   dec        1
     aug        1
19   mar        1
21   jun        1
Length: 303, dtype: int64

### Q. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [75]:
from scipy.stats import shapiro

shapiro(data[data['job'] == 'unknown'].age)[1]

0.1961131989955902

### Q. age와 balance의 상관계수를 구하여라

In [79]:
print(data[['age', 'balance']].corr().iloc[0,1])

0.10198734763981462

### 못품   Q. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [81]:
# from scipy.stats import shapiro

# shapiro(data[['y','education']])

ValueError: ignored

### Q. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [103]:
data2 = data.groupby(by=['job', 'marital'])['ID'].count().reset_index()
list_ = data2['job'].unique()
max = 0

for x in list_:
  value = data2[(data2['job'] == x) & (data2['marital'] == 'divorced')]['ID'].values / data2[(data2['job'] == x) & (data2['marital'] == 'married')]['ID'].values
  if max < value:
    max = value
print(max)

[0.28310502]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  import sys

## 작업 2유형

In [142]:
import pandas as pd
data= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

id = test['ID']

# data를 x, y로 분리하는 작업
y_train = data['y'].replace('no', 0).replace('yes', 1)
x_train = data.drop(columns=['y'])

# 상관없는 변수 제거
x_train.drop(columns=['ID'], inplace=True)
test.drop(columns=['ID'], inplace=True)

# null값 없음
# 범주형 변수 인코딩
from sklearn.preprocessing import LabelEncoder, StandardScaler

encode_list = x_train.select_dtypes(include='object').columns
encoder = LabelEncoder()
for x in encode_list:
  x_train[x] = encoder.fit_transform(x_train[x])
  test[x] = encoder.fit_transform(test[x])

# 데이터 스케일링
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
test = scaler.transform(test)

# 성능 평가를 위한 train_test_split
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)


# 모델 학습
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

model = XGBClassifier(eval_metric='error', use_label_encoder=False, n_estimators=200, max_depth=3)
model.fit(X_TRAIN, Y_TRAIN)

Y_PREDICT = model.predict(X_TEST)
print(roc_auc_score(Y_TEST, Y_PREDICT))

y_proba = pd.DataFrame(model.predict_proba(test), columns=['a','predict'])
result = pd.concat([id, y_proba['predict']], axis=1)

result.to_csv('a.csv', index=False)

result

0.6863920897530441

         ID   predict
0     53608  0.840954
1     51055  0.747656
2     52573  0.088163
3     50458  0.153822
4     52272  0.278526
...     ...       ...
4286  50332  0.150553
4287  51293  0.807400
4288  54023  0.200404
4289  53775  0.491800
4290  51945  0.144518

[4291 rows x 2 columns]

In [139]:
data['default'].unique()

array(['no', 'yes'], dtype=object)

In [143]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')



from sklearn.model_selection import train_test_split

x = train.drop(columns =['ID','y'])
xd = pd.get_dummies(x)
y = train['y']

x_train,x_test,y_train,y_test = train_test_split(xd,y,stratify =y ,random_state=1)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
pred = rf.predict_proba(x_test)

from sklearn.metrics import roc_auc_score,classification_report

print('test roc score : ',roc_auc_score(y_test,pred[:,1]))


test_pred = rf.predict_proba(pd.get_dummies(test.drop(columns=['ID'])))
submission['predict'] = test_pred[:,1]

print('submission file')
display(submission.head())
submission.to_csv('00000000000000.csv',index=False)

test roc score :  0.7765350567341971
submission file

      ID  predict
0  53608     0.78
1  51055     0.72
2  52573     0.01
3  50458     0.17
4  52272     0.30